.b {
	width: 150px; 
	background-color: #0074d9;
	color: limegreen;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
	transition: color 0.3s ease;
}

.b:hover {
	color: darkred;
	background-color: lightgoldenrodyellow;
}

.v {
  color: limegreen;
}